.clj-kondo
.direnv
.lsp
.portal
/ncmpcpp.symlink/error.log
programs/emacs/%backup%~
programs/emacs/.cache
programs/emacs/.org-id-locations
programs/emacs/hgs-cache
programs/emacs/org-roam.db
programs/emacs/session*
programs/emacs/workspace
/result
.aider*
