.clj-kondo
.lsp
.portal
atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
byobu.symlink/.ssh-agent
git/gitconfig.symlink
lein.symlink/credentials.clj
lein.symlink/repl-history
lein.symlink/self-installs/
emacs.d.symlink/.smex-items
emacs.d.symlink/ac-comphist.dat
emacs.d.symlink/elpa/
emacs.d.symlink/eshell/
emacs.d.symlink/geben/.storage
emacs.d.symlink/org-gcal/.org-gcal-token
emacs.d.symlink/places
emacs.d.symlink/request/curl-cookie-jar
emacs.d.symlink/session*
emacs.d.symlink/tramp
emacs.d.symlink/recentf
emacs.d.symlink/ido.last
emacs.d.symlink/.bts-*
/ncmpcpp.symlink/error.log
programs/emacs/%backup%~
programs/emacs/.cache
programs/emacs/.org-id-locations
programs/emacs/hgs-cache
programs/emacs/org-roam.db
programs/emacs/session*
programs/emacs/workspace
