{:tasks
 {
  install-cert-manager
  {:task
   (let [version "1.4.0"
         url (format "https://github.com/jetstack/cert-manager/releases/download/v%s/cert-manager.crds.yaml"
                     version)]
     (shell (format "kubectl apply -f %s" url)))}

  read-windows-key
  {:task
   (shell "sudo grep -Eao '(-?[A-Z0-9]{5}){5}' /sys/firmware/acpi/tables/MSDM")}

  k3d-create
  {:description "Create a k3d cluster"
   :task
   (shell
    (clojure.string/join
     " "
     ["k3d cluster create"
      "--api-port 6550"
      "-p \"80:80@loadbalancer\""
      "-p \"443:443@loadbalancer\""
      "--servers 1"
      "--registry-create"
      "--kubeconfig-update-default"]))}

  k3d-delete
  {:task (shell "k3d cluster delete k3s-default")}

  k3d-start
  {:task (shell "k3d cluster start")}

  k3d-stop
  {:task (shell "k3d cluster stop")}

  install-rancher
  {:task
   (let [namespace "cattle-system"
         hostname "rancher.localhost"]
     #_(shell (format "kubectl create namespace %s | true" namespace))
     (let [cmd (clojure.string/join
                " "
                ["helm install rancher rancher-latest/rancher "
                 (format "--namespace %s" namespace)
                 (format "--set hostname=%s" hostname)])]
       (println cmd)
       (shell cmd)))}

  watch-pods
  {:task (shell "watch kubectl get pods --all-namespaces")}

  }}
